<app-base-page></app-base-page>

 <!--
Name: Sidharth Choudhary
Student ID: 300990285
Date: 16 Feb, 2019
-->
<head>
      <style>
        a:hover { text-shadow: 0 0 5px #ff0000; r}
      </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="main">
      <div class="container">
      <h1 style="color: black;">Work in progress..</h1>
    </div>
  </div>
</body>
